{% extends 'base.html.twig' %}
{% form_theme form 'forms/bootsrap4-theme.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body_id 'form1' %}



{% block main %}

    <div class="step1">



        <div class="ui ignored positive message">
            <center>1. ACADEMIC INFORMATION</center>
        </div>
        <hr>

            {{ form_errors(form) }}
        {{ form_start(form ) }}


            <div class="form-control">
                {{ form_row(form.programmeID1) }}
                 </div>
            <div class="form-control">
                {{ form_row(form.programmeID2) }}

            </div>
            <div class="form-control ">
                {{ form_row(form.programmeID3) }}

            </div>



                <div class="form-control">
                    {{ form_row(form.formerSchool) }}
                </div>
                <div class="form-control">
                    {{ form_row(form.preferedHall) }}

                </div>

                <div class="form-control">
                    {{ form_row(form.programmeStudied) }}

                </div>

                <div class="form-control ">
                    {{ form_row(form.referrals) }}

                </div>
                <div class="form-control">
                    {{ form_row(form.awaiting) }}

                </div>

    </div>
            



         <center> {{ form_end(form) }}</center>


        <p>
           <center>

            <a class="btn" href="{{ path('step1') }}">Click to go back</a>

                            {% if (app.user.formType=='MTECH'  or app.user.formType=='FOREIGN' or app.user.formType=='ACCELERATED_BTECH' or app.user.formType=='ACCELERATED_HND') %}
                                <a class="btn" href="{{ path('preview') }}">Click to Preview Form</a>

    {% elseif (app.user.formType=='BTECH' or app.user.formType=='HND' or app.user.formType=='DIPLOMA' ) %}
        <a class="btn" href="{{ path('step3') }}">Click to go to step3</a>



    {% elseif app.request.get('done')==2 or app.user.getFormNo !=0  %}
                                 <a class="btn" href="{{ path('step3') }}">Click to go to step3</a>

                            {%  endif%}


        </center>
      
        </div>


{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script>
        $(document).ready(function () {
            $(function () {

                $('.step1').find("select,input,textarea").each(function () {
                    $(this).removeClass("form-control")
                })
            });


            $(function () {

                $('.old').find("select,input,textarea").each(function () {
                    $(this).removeClass("form-control")
                })
            });

            $(function () {

                $('.last').find("select,input,textarea").each(function () {
                    $(this).removeClass("form-control")
                })
            });
        });
    </script>



{% endblock %}







